$containerPadding: 10px;
$primaryColor: rgb(255, 251, 235);
$secondaryColor: rgb(253 230 138);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root, body, html {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > * {
    padding: $containerPadding;
    width: 100%;
  }

  .header {
    position: fixed;
    height: 75px;
    background-color: $secondaryColor;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    min-height: calc(100vh - 150px);
    background-color: $primaryColor;
  }

  .footer {
    min-height: 75px;
    background-color: black;
    color: white;
    @include flex-center;
  }
}

.page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.breweries-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.brewery-card {
  padding: $containerPadding;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  margin: 5px;
  display: flex;
  flex-direction: column;

  .brewery-card-header {
    height: 35px;
    @include flex-center;
  }

  .brewery-card-content {
    padding-top: $containerPadding;
    flex: 1;
  }

  .brewery-card-footer {
    height: 35px;
    @include flex-center;
  }
}