$containerPadding: 10px;
$primaryColor: rgb(255, 251, 235);
$secondaryColor: rgb(253 230 138);
$darkColor: rgb(180, 83, 9);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root, body, html {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > * {
    padding: $containerPadding;
    width: 100%;
  }

  .header {
    position: fixed;
    height: 75px;
    background-color: $secondaryColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    flex: 1;
    // min-height: calc(100vh - 150px);
    background-color: $primaryColor;
  }

  .footer {
    min-height: 75px;
    background-color: black;
    color: white;
    @include flex-center;
  }
}

.center-text {
  text-align: center;
}

.link {
  color: $darkColor;
}

.page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.breweries-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.brewery-card {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  margin: 5px;
  display: flex;
  flex-direction: column;

  .brewery-card-header {
    background-color: $secondaryColor;
    text-align: center;
    min-height: 50px;
    padding: $containerPadding;
    @include flex-center;
  }

  .brewery-card-content {
    margin: $containerPadding;
    flex: 1;
    display: flex;
    @include flex-center;
    flex-direction: column;
    text-align: center;
  }

  .brewery-card-footer {
    height: 50px;
    background-color: $secondaryColor;
    @include flex-center;
  }
}

.set-child-margins {
  > * {
    margin: $containerPadding 0;
  }
}

.search-form {
  input {
    padding: 5px;
  }
}